h1{
    margin: auto;
    text-align: center;
}

h2{
    margin: 10px 0px 5px 0px;
    text-align: center;
    
    
}
.mainCenter{
    margin: 15px auto;
    align-items: center;
    color: peachpuff;
    border: 4px dotted;
    width: 400px;
    height: 300px;
}
.mainButton{
    border: 0;
    margin: 15px auto;
    padding: 0 20px;
    font-size: 15px;
    text-align: center;

}