h1{
    margin: auto;
    text-align: center;

}

h2{
    margin: 10px 0px 5px 0px;
    text-align: center;
    
    
}
.mainCenter{
    margin: 15px auto;
    align-items: center;
    color: lightseagreen;
    border: 5px dotted;
    width: 400px;
    height: 400px;
    
    
}
.button{
    height: 75px;
    width: 75px;
    background: coral;
    border: 2px;
    margin: 15px auto;
    padding: 0 20px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    animation-name: colorChange;
    animation-duration: 7s;
    animation-iteration-count: infinite;

}
@keyframes colorChange{
    0% {background-color: orangered;}
    50% {background-color: darksalmon;}
    75% {background-color: darkseagreen;}
    100% {background-color: limegreen;}
}
a:link{
    color: linen;
}
a:visited{
    color:mintcream;
}
a:hover{
    color:darkgreen;
}